:root {
  /* --backgound_color: #EAEAF3; */
  --backgound_color: white;
  --background_container: transform;
  /* --main_color: #B264FF; */
  --main_color: #004F61;
  --boder_radias:   10px;
  --margin_distance: 30px;  
  --margin_up_down_distance:50px;
  --body_margin_distance: 60px;
  --hide_text: #a4a9b2ff;
  --background_chart: #EAEAF3;

}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: white;
}

.main_container {
  display: flex;
  flex-direction: column;
  /* background: rgb(249,243,255);
  background: linear-gradient(57deg, rgba(249,243,255,1) 30%, rgba(238,238,238,1) 76%); */
  background-color: var(--backgound_color);
  /* margin: 10px; */
}


.header_container{
  display: flex;
  align-items: center;
  display: flex;
  margin-left: var(--body_margin_distance);
  margin-top: 10px;
  margin-bottom: var(--body_margin_distance);
  background-color: white;
  margin-right: var(--body_margin_distance);
}
.header_left{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  font-weight: bold;
}
.header_right{
  display: flex;
  width: 100%;
  justify-content: end;
}
.header_right_col{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_right_text{
  display: flex;
  margin-left: 15px;
  font-size: 15px;
  transition: text-shadow 0.3s ease; /* Thay đổi mượt mà khi di chuột */
  color: var(--main_color);
}
.header_right_text:hover{
  cursor:pointer;
  text-shadow: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.space{
  width: 1px;
  height: 80%;
  background-color: black;
  margin-left: 15px;
}

.logo_color{
  fill:var(--main_color)
}
.icon_logo{
  width: 50px;
}
.header_text{
  font-size: 25px;
  color: var(--main_color) ;
}

.topic_title_text{
  display: flex;
  font-size: 20px;
  margin-left: calc(var(--body_margin_distance));
  margin-top: 5px;
  font-weight: bold ;
  color: var(--main_color);
}
.separator_container{
  margin-top: 50px;
}
.separator_line_container{
  display: flex;
  flex-direction: row;
  margin-left: var(--body_margin_distance);
  margin-right: var(--body_margin_distance);
  margin-top: 10px;
}
.separator_line_left{
  display: flex ;
  flex:0.5;
  background-color: var(--main_color);
  padding: 1px;
  margin-right:5px;
}
.separator_line_right{
  background-color: var(--hide_text);
  flex:1.5;
  padding: 1px;
  display: flex ;
}
a {
  text-decoration: none; /* Xóa dấu gạch dưới */
}


